body {
    background: url("../img/New_Train_Image.jpg") no-repeat center fixed;
    background-size: cover;
}
header {
    background: blue;
    color: white;
    text-align: center;
    opacity: .6;
}
#mytable {
    margin-top: 200px;
    margin-left: 400px;
    color: white;
}

footer {
    background: blue;
    color: white;
    text-align: center;
    opacity: .6;
    margin-top: 400px;
}