body {
    background: url("../img/New_Train_Image.jpg") no-repeat center fixed;
    background-size: cover;
}
header {
    background: grey;
    color: white;
    text-align: center;
    opacity: .6;
}
#mytable {
    margin-top: 200px;
    margin-left: 280px;
    color: white;
}

footer {
    height:100px;
    background: grey;
    color: white;
    text-align: center;
    opacity: .6;
    margin-top: 200px;
    padding: 25px;
}